@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tabiri Analytics Management System (TAMS)</title>   
    <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
    <link href="~/css/modern.css" rel="stylesheet">
	<link href="~/css/site.css" rel="stylesheet">   
</head>
<body> 
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
			<div class="sidebar-content ">
                <a href="https://tabirianalytics.com/"
					class="sidebar-brand" 
					target="_blank" 
					rel="noopener norefer">
					<img src="/img/logos/tabiri.jpeg" alt="" height="90" width="188">
				</a>
            </div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light bg-white">
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                    }
                </div>
			</nav>

			<main class="content">
				<div class="container-fluid p-0">
					 @RenderBody()
				</div>
			</main>

            <footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">	
						<div class="col-6 text-right">
							<p class="mb-0">
								<a href="https://tabirianalytics.com/" 
									class="text-muted" 
									target="_blank" 
									rel="noopener noreferrer">
										&copy; @DateTime.Now.Year - Tabiri Analytics, Inc
								</a>
                            </p>							
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@