@inherits RadioGroupBase
<div>    
    @foreach (var option in Options)
    {   
        <CascadingValue Value="@UserId" Name="UserId">
            <CascadingValue Value="@OrgId" Name="OrgId">
                <CascadingValue Value="@QuestionnaireId" Name="QuestionnaireId">
                    <Radio @bind-Question=@Question 
                        Option=@option 
                        OnInputChanged="ButtonGroupChanged" />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>        
    }    
</div> 

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@