﻿@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Change your password.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Input.CurrentPassword"></label>
                <div class="input-group">                        
                    <input id="txt-current-password" asp-for="Input.CurrentPassword" class="form-control" />
                    <span class="input-group-append">
                        <button id="btn-current-password" class="btn btn-primary" type="button">
                            <i id="btn-current-password-icon" class="align-middle mr-2" data-feather="eye"></i>
                        </button>
                    </span>
                </div>                   
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>    
            <div class="alert alert-primary alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="alert-message">
                    <h4 class="alert-heading">Minimum Password Requirements</h4>
                    <ul>
                        <li>Minimum length of 8 characters</li>
                        <li>Requires numbers</li>
                        <li>Requires special character</li>
                        <li>Requires uppercase letters</li>
                        <li>Requires lowercase letters</li>
                    </ul>                                      
                </div>
            </div> 
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <div class="input-group">                        
                    <input id="txt-new-password" asp-for="Input.NewPassword" class="form-control" />
                    <span class="input-group-append">
                        <button id="btn-new-password" class="btn btn-primary" type="button">
                            <i id="btn-new-password-icon" class="align-middle mr-2" data-feather="eye"></i>
                        </button>
                    </span>
                </div>                   
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <div class="input-group">                        
                    <input id="txt-confirm-password" asp-for="Input.ConfirmPassword" class="form-control" />
                    <span class="input-group-append">
                        <button id="btn-confirm-password" class="btn btn-primary" type="button">
                            <i id="btn-confirm-password-icon" class="align-middle mr-2" data-feather="eye"></i>
                        </button>
                    </span>
                </div>                   
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>            
            <button type="submit" class="btn btn-primary">Change your password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@