@using DataLayer.DomainModels
@inherits ReportCardsGalleryBase
<div class="col-12"> 
    <div class="card flex-fill w-100">
        <div class="card-header text-center">
            <h1 class="card-title">            
                @(OrganizationType == OrganizationType.CmuPartner ? "CMU Questionnaires":"Tabiri Questionnaires")
            </h1>                    
        </div>
        <div class="card-body d-flex">
            <div class="align-self-center w-100">   
                <div class="row"> 
                    <div class="col-12"> 
                        <ReportCardList 
                            Title="Reports with responses" 
                            Reports=ReportsWithResponses />                            
                    </div>

                    <div class="col-12"> 
                        <ReportCardList 
                            Title="Reports without responses" 
                            Reports=ReportsWithoutResponses />  
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>