@inherits ReportCardListBase
@{
    var baseUrl = "/operational-assessment/report";
}
<fieldset class="scheduler-border">
    <legend class="scheduler-border">@Title</legend>                            
        @if(Reports.Any())
        {
            <div class="row">
                @foreach (var report in Reports)
                {
                    var queryParameter = $"orgId={report.OrgId}&questionnaireId={report.QuestionnaireId}";
                    var url = $"{baseUrl}?{queryParameter}";

                    <div class="col-12 col-md-6 col-lg-3">  
                        <ReportCard OrgName=@report.OrgName                                                    
                            Url=@url 
                            IsOpenButtonEnabled=@report.HasResponses />
                    </div> 
                }
            </div>                                    
        }
        else
        {
            <h5 class="text-center">There are no reports to display.</h5>                                  
        }                                                   
</fieldset>