@inherits ReportCategoryBase

@if (ReportCategory == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill w-100">
                <div class="card-header text-center">
                    <h2 class="card-title">@ReportCategory.Title</h2>                    
                </div>
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">    
                        @if(@ReportCategory.HasResponses)
                        {
                            @foreach (var reportSubcategory in ReportCategory.ReportSubcategories)
                            {
                                <ReportSubcategory StateContainer=@StateContainer
                                    ReportSubcategory=@reportSubcategory />
                            }
                        }
                        else
                        {
                            <h5 class="text-center">No reponses found for any subcategory in this category.</h5>
                        }                      
                    </div>
                </div>      
            </div>
        </div> 
    </div>
}

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@