@inherits ReportQuestionnaireBase

@if (ReportQuestionnaire == null)
{
    <p><em>Loading...</em></p>
}
else
{ 
    <div class="row">       
        <div class="col-12 col-xl-9">
            @if(@ReportQuestionnaire.HasResponses)
            {
                <h4 class="text-center">@OrgName</h4>

                @foreach (var reportCategory in ReportQuestionnaire.ReportCategories)
                {
                    <ReportCategory StateContainer=@StateContainer 
                        ReportCategory=@reportCategory />
                }
            }
            else
            {
                <h5 class="text-center">No reponses found for questionnaire.</h5>
            }            
        </div> 
    </div>
}

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@