@inherits ReportSubcategoryBase

@if (ReportSubcategory == null)
{
    <p><em>Loading...</em></p>
}
else
{
   <div class="card flex-fill w-100">
        <div class="card-header text-center">
            <h5 class="card-title">@ReportSubcategory.Title</h5>                    
        </div>

        <div class="card-body d-flex">
            <div class="align-self-center w-100">                
                @if(@ReportSubcategory.HasResponses)
                {
                    <fieldset class="scheduler-border">
                        <legend class="scheduler-border">Scoring Rubric</legend>
                        <ol type = "1">
                        @foreach (var item in ReportScoringRubrics)
                        {
                            <li>@item.Title (@item.ScoringDetails)</li> 
                        }
                        </ol>
                    </fieldset>
                    <table class="table table-striped table-sm">
                        <thead>                                   
                            <tr>
                                <th>Question</th>
                                <th>Response</th>                           
                            </tr>
                        </thead>
                        <tbody>                      
                            @foreach (var question in ReportSubcategory.RootReportQuestions)
                            {                           
                                <ReportQuestion ReportQuestion=@question />                          
                            }                                  
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Total Points</th>
                                <th></th>
                            </tr>
                        </tfoot>
                </table> 
                }
                else
                {
                    <h5 class="text-center">No reponses found for any question in this subcategory.</h5>
                }
            </div>
        </div>                                           
    </div>
}

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@