@page "/auditor-dashboard"
@using DataLayer.DomainModels
@using Tams.Web.Components.AuditorComponents
@inherits AuditorDashboardBase

<AuthorizeView Roles="TabiriAuditor,CmuAuditor">
    <Authorized>        
        <div class="row">   
            @if(IsCurrentUserTabiriAuditor)
            {                               
                <ReportCardsGallery OrganizationType=OrganizationType.TabiriCustomer />                
            }

            @if(IsCurrentUserCmuAuditor)
            {                               
                <ReportCardsGallery OrganizationType=OrganizationType.CmuPartner />               
            }                                   
        </div>
    </Authorized>
    <NotAuthorized>
        <h4>You are not authorized to view this page.</h4>
        <a href="/">Go back to the home page</a>
    </NotAuthorized>
</AuthorizeView>

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@