@inherits LoginDisplayBase
<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                    <i class="align-middle" data-feather="settings"></i>
                </a>
                <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">     
                    <span class="text-dark">Hello, @UserName!</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">     
                    <div class="dropdown-item">
                        <form id="logoutForm" class="form-inline" action="/Identity/Account/Logout?returnUrl=%2F" method="post">
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </div>
                </div>                            
            </li> 
        </ul>
    </Authorized>
    <NotAuthorized>  
        <ul class="navbar-nav ml-auto">      
            <a href="Identity/Account/Login">Log in</a>
        </ul>
    </NotAuthorized>
</AuthorizeView>

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@