﻿@inherits LayoutComponentBase

<div class="wrapper">
	<nav id="sidebar" class="sidebar">
		<div class="sidebar-content ">
			<a href="https://tabirianalytics.com/"
				class="sidebar-brand" 
				target="_blank" 
				rel="noopener norefer">
				<img src="/img/logos/tabiri.jpeg" alt="" height="90" width="188">
			</a>
				<NavMenu />
			</div>
	</nav>

	<div class="main">
		<nav class="navbar navbar-expand navbar-light bg-white">
			<a class="sidebar-toggle d-flex mr-2">
				<i class="hamburger align-self-center"></i>
			</a>
			<div class="navbar-collapse collapse">
				<LoginDisplay />
			</div>
		</nav>

		<main class="content">
			<div class="container-fluid p-0">
				@Body
			</div>
		</main>

		<footer class="footer">
			<div class="container-fluid">
				<div class="row text-muted">	
					<div class="col-6 text-right">
						<p class="mb-0">
							<a href="https://tabirianalytics.com/" 
								class="text-muted" 
								target="_blank" 
								rel="noopener noreferrer">
									&copy; @DateTime.Now.Year - Tabiri Analytics, Inc
							</a>
						</p>							
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@