@inherits DisplayQuestionBase
@using DataLayer.DomainModels.OperationalAssessment
@using Tams.Web.Components.DisplayComponents.InputComponents

@if (Question == null)
{
    <p><em>Loading...</em></p>
}
else
{  
    @if(Question.IsLastQuestion)
    {
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column">
                <h3 class="text align-self-center p-2">Congratulations! You have completed this subcategory</h3>
                <div class="col text-center">
                    @if(StateContainer.HasNextSubcategory)
                    {
                        <button type="button" 
                            class="btn btn-info" 
                            @onclick="NextSubcategoryButtonClicked">Next Subcategory</button> 
                    }else
                    {
                        <button type="button" 
                            class="btn btn-secondary" 
                            @onclick="NextCategoryButtonClicked">Next Category</button> 
                    }                    
                </div>                      
            </div>
        </div>
        <br />
    }
    else
    {
        <div class="form-group row">
        <label class="col-form-label col-sm-9 text-sm-right">
            @Question.FullQuestionText<br />
            <div class="text-muted small">
                @Question.HintText
            </div>
        </label>
            <div class="col-sm-3">
                <CascadingValue Value="@StateContainer.UserId" Name="UserId">
                    <CascadingValue Value="@StateContainer.OrgId" Name="OrgId">
                        <CascadingValue Value="@StateContainer.QuestionnaireId" Name="QuestionnaireId">
                            @if(Question.IsDateInputType)
                            {
                                <DateInput @bind-Question=@Question />
                            }    

                            @if(Question.QuestionType == QuestionType.Text)
                            {                     
                                <TextArea @bind-Question=@Question />
                            }   

                            @if(Question.IsNumericInputType)
                            {            
                                <NumericInput @bind-Question=@Question />
                            }   

                            @if(Question.QuestionType == QuestionType.SelectSingle)
                            {                     
                                <RadioGroup @bind-Question=@Question 
                                    OnInputGroupChanged="DisplayQuestionChanged"/> 
                            }   

                            @if(Question.QuestionType == QuestionType.SelectMultiple)
                            {                     
                                <SelectGroup @bind-Question=@Question  /> 
                            }  
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>  
            </div>
        </div>    
    }
            
    @if (Question.ShowChildren)
    {
        @foreach (var childQuestion in Question.Children)
        {            
            <DisplayQuestion StateContainer=@StateContainer
                Question=@childQuestion />        
        }     
    }
    else
    {
        @Question.ClearChildResponses()
    }
}

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@