@inherits DisplaySubcategoryBase

@if (StateContainer?.Subcategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="card flex-fill w-100">                
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <Breadcrumb StateContainer=@StateContainer 
                            CurrentId=@StateContainer.CurrentSubcategory.Id 
                            NavigationViewModels=@NavigationViewModels 
                            BackgroundColor="bg-info"
                            OnClick="@(subcategoryId => StateContainer.SetCurrentSubcategory(subcategoryId))" />

                        <div class="row">
                            <div class="col-12">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Objective</legend>
                                    @StateContainer.CurrentSubcategory.Objective
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">NIST 800-53 Mapping</legend>
                                    <ul>
                                    @foreach (var nistMapping in NistMappingViewModels)
                                    {
                                        <li>@nistMapping.Title</li>
                                    }
                                    </ul>
                                </fieldset>
                            </div>
                            <div class="col-6">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">ISO/IEC 27001 Mapping</legend>
                                    <ul>
                                    @foreach (var isoIecMapping in IsoIecMappingViewModels)
                                    {
                                        <li>@isoIecMapping.Title</li>
                                    }
                                    </ul>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">Questions</legend>
                                    <form id="questionnaire" method="post">                                        
                                        <DisplayQuestion StateContainer=@StateContainer
                                            Question=@StateContainer.CurrentRootQuestion /> 
                                            
                                        <Pagination StateContainer=@StateContainer />
                                    </form> 
                                </fieldset>
                            </div>
                        </div>
                                         
                    </div>
                </div>                
            </div>
        </div>
    </div>
}

@* Copyright 2021 Tabiri Analytics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. *@